.meetVideoContainer {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100vh;
  background: rgb(41, 41, 41);
}

.meetUserVideo {
  position: absolute;
  left: 0;
  bottom: 10vh;
  width: auto;
  height: 25vh;
  border-radius: 0.6rem;
  margin-left: 1rem;
}

.conferenceView {
  display: flex;
  padding: 10px;
  gap: 10px;
}

.conferenceView video {
  width: auto;
  height: auto;
  border-radius: 0.6rem;
}

.buttonContainers {
  position: absolute;
  width: 25vw;
  height: auto;
  display: flex;
  justify-content: center;
  text-align: center;
  bottom: 0;
  margin-bottom: 0.5rem;
  border-radius: 0.6rem;
  background-color: rgba(0, 0, 0, 0.4);
}

.buttonContainers svg {
  font-size: 3.3rem;
  padding-inline: 0.6rem;
}

.buttonContainers svg:hover {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding-inline: 0.6rem;
}

.chatRoom {
  height: 100vh;
  width: 25vw;
  position: absolute;
  right: 0;
  background: whitesmoke;
  border-radius: 6px;
  bottom: 0;
  padding: 10px;
}

.chatContainer {
  position: relative;
  height: 100%;
}

.chattingArea {
  position: absolute;
  bottom: 0;
}

.textfield {
  width: 20vw;
  height: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 1rem;
  gap: 7px;
}
