.landingPageContainer {
  width: 100vw;
  height: 100vh;
  background: url("/public/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.landingPageContainer nav {
  padding-inline: 1.1rem;
  padding-block: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.landingPageContainer nav .navlist {
  display: flex;
  gap: 2.5rem;
  cursor: pointer;
}

.landingPageContainer nav .navlist div {
  background-color: rgb(255, 255, 255, 0.1);
  border-radius: 10rem;
  padding: 1.1rem;
}

.landingPageContainer nav .navlist div:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.landingMainContainer {
  display: flex;
  justify-content: space-between;
  padding-inline: 3rem;
  height: 80vh;
  align-items: center;
}

.landingMainContainer > div:nth-child(1) {
  font-size: 2.1rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"] {
  background: #d97500;
  width: fit-content;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 1.9rem;
}

.landingMainContainer > div:nth-child(1) div[role="button"]:hover {
  background-color: rgb(255, 255, 255, 0.2);
}

.landingMainContainer > div:nth-child(1) div[role="button"] a {
  text-decoration: none;
  color: white;
  font-size: 1.7rem;
}

.landingMainContainer > div:nth-child(2) img {
  height: 80vh;
  width: auto;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 1rem;
  text-align: center;
}

.homeNav {
  width: 100vw;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgb(0, 0, 0, 0.2);
  padding-inline: 1rem;
}

.meetContainer {
  display: flex;
  padding-inline: 20px;
  height: 80vh;
  gap: 10vw;
  justify-content: center;
}

.leftPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel {
  height: 100%;
  display: flex;
  align-items: center;
}

.rightPanel > img {
  width: 30vw;
  height: auto;
  border-radius: 20px;
}

.logo {
  height: 6.6rem;
  max-width: 120px;
  object-fit: contain;
}

.rightNavOptions {
  right: 0;
  width: 15vw;
}

.rightNavOptionsEffect:hover {
  background-color: rgb(0, 0, 0, 0.06) !important;
}

@media (max-width: 576px) {
  .landingPageContainer div {
    padding-block-start: 4rem;
  }
  .landingPageContainer div h1 {
    font-size: 1.7rem;
  }
  .landingPageContainer div p {
    font-size: 1.2rem;
    line-height: 3rem;
  }
  .landingPageContainer nav .navlist {
    gap: 0.5rem;
  }
  .landingPageContainer nav .navlist div {
    height: 2.5rem;
    padding: 0.6rem;
  }
  .landingMainContainer {
    display: block;
    padding-inline: 1.2rem;
    padding-block: 1.2rem;
    height: 80vh;
  }
  .landingMainContainer > div:nth-child(1) div[role="button"] a {
    font-size: 1rem;
  }
  .landingMainContainer > div:nth-child(1) div[role="button"] {
    width: 10rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 3rem 0 0 7rem;
  }
  .landingMainContainer > div:nth-child(2) img {
    width: 90vw;
    height: auto;
  }
  nav {
    height: 6rem;
    padding-block: 4rem !important;
  }
  .logo {
    height: 4.5rem;
    margin-top: 1rem;
  }

  .meetContainer {
    height: 87vh;
    display: block;
    padding-inline: 0.5rem;
  }
  .leftPanel {
    height: 35vh;
    padding-left: 1rem;
  }
  .leftPanel div h1 {
    font-size: 1.6rem;
  }
  .rightPanel {
    padding-top: 3rem;
    height: fit-content !important;
  }
  .rightPanel > img {
    width: 95vw;
    height: fit-content;
  }
  .rightNavOptions {
    right: 0;
    width: 45vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }
  .rightNavOptionsEffect p {
    font-size: 0.85rem !important;
  }

  .homeVideo {
    width: 100vw;
    height: 87.9vh;
  }
  .homeVideoVideo {
    width: 95vw !important;
    padding-bottom: 10rem;
  }
}
